.button{
  border:none;
  outline:none;
  padding:5px 10px;
  margin: 10px;
  min-height: 45px;
  flex: 0 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  transition: box-shadow .4s ease, color .4s linear;
  border-radius: 4px;
  cursor: pointer;
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  position: relative;
    height: 100%;
    width: 100%;
    flex: 0 1 auto;
    max-height: 100%;
    margin: 0 5px;
  }

  &:disabled{
    opacity: .5;
    pointer-events: none;
  }
}
.primary{
  background:white;
}
.active{
  background:rgba(lightsteelblue,.5)
}