.container{
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom:  40px;
  border: none;
  border-radius: 4px;
  padding: .5em .5em .4em;
  background: #fefefe;    
  box-shadow:0 8px 15px 0 rgba(0,0,0,.1), 
  0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 rgba(0, 0, 0, 0.04);
  transition: box-shadow .4s ease;
  &:hover{
    box-shadow: 0 20px 20px rgba(#aaa,.4)
  }
  
  &[open]{   
    
    padding: .5em;
    summary{
      margin: .5em;
      border-bottom: 1px solid #aaa;
      margin-bottom: .5em;
     }
  }
  summary{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom-style:none;
    background: #fefefe;
    margin-bottom: 5px;
   
  }
}
