
$duration:4s;

.loader {
  position: relative;
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: 30px 30px;
  gap: .5px .5px;
  margin: 10px;
  padding: 15px;
  grid-template-areas:
    ". ."
    ". .";
    background: white;
    border-radius:50%;
    box-shadow: 0 6px 20px rgba(163,196,230,0.4);
    transition: all ease;
    animation: anim-rotate $duration infinite ease;
  span{
    &:nth-child(2){
animation-delay:.1s;
    } 
    &:nth-child(3){
      animation-delay:.2s;

    }
    &:nth-child(4){
      animation-delay:.3s;
    }
    svg{    
      transition: all ease;
      animation: anim-spin $duration infinite ease;
    }
  }
}
.completed{
  animation: anim-shrink $duration forwards linear;
}

@keyframes anim-shrink{
  to{
    transform:rotate(720deg) scale(0);
    display: none;    
  }
}

@keyframes anim-spin{
  0% { transform: rotate(0deg); }
  50%{
   transform:  rotate(720deg);
  }
  100% { 
    transform: rotate(360deg) ;
 }

}
@keyframes anim-rotate {
  0% { transform: rotate(0deg); }
 25%{  
    filter: blur(1px)
 }
  50%{
   transform:  rotate(720deg)  scale(1.5);
  }

  100% { 
    transform: rotate(360deg) ;
 }
}