/* GLOBAL STYLES ONLY */
.App,
:root {
  font-family: sans-serif;
  text-align: center;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
summary,
button,
label[for] {
  cursor: pointer;
}
.baseInput {
  width: 100%;
  padding: 5px 10px;
  margin: 5px;
  font-size: 1em;
}
.card {
  display: block;
  background: white;
  box-shadow: 0 6px 20px rgba(163, 196, 230, 0.4);
  margin: 5px;
  border-radius: 4px;
  padding: 5px 10px;
}
strong {
  margin: 0 5px;
}
